<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="homeNavigation()">Weathery</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <button class="nav-link btn" (click)="registerNavigation()">Register</button>
        </li>
        <li class="nav-item">
            <button class="nav-link btn" (click)="loginNavigation()">Login</button>
        </li>
      </ul>
    </div>
  </nav>